doctype html
html
    head
        link(rel="stylesheet", href="/static/create.css", type="text/css")

    body
        include header.pug
        div#content
            h1#title New Story
            form(action="/create", method="POST")
                div.input
                    label(for="title") Title
                    input#title(type="text", name="title")
                    
                div.input
                    label(for="prompt") Prompt 
                    input#prompt(type="text", name="prompt")

                div.checkbox
                    input(type="hidden", value="false")
                    input#privacy(type="checkbox", name="private", value="true")
                    label(for="privacy")
                    span Private?
                
                input#author(name="author", type="hidden")
                button(type="submit") Create
        script.
            if(window.sessionStorage.user) {
                document.getElementById('author').value = window.sessionStorage.user;
            } else {
                window.location = "/login";
            }
