doctype html
html
    head
        link(rel="stylesheet", href="/static/header.css", type="text/css")
        meta(name="google-signin-client_id", content="179911329052-bt7801c9hu6gqh174qv0jl28clftchj1.apps.googleusercontent.com")

    body
        header#header
            div#logo
                img(src="/static/images/logo.svg")
            nav#nav
                ul
                    li Home
                    li Genres
                    li Stories
                    .g-signin2(data-onsuccess="onSignIn")

        script(src="https://apis.google.com/js/platform.js",async="true", defer="true")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script.
            function onSignIn(googleUser) {
                window.sessionStorage.user = googleUser.getBasicProfile.getId();
                $.post('/login', {id: googleUser.getAuthResponse().id_token}, (res) => {
                    if(window.sessionStorage.user !== JSON.parse(res).id) {
                        window.sessionStorage.user === JSON.parse(res).id
                    }
                });
            }