doctype html
html
    head
        link(rel="stylesheet", href="/static/create.css", type="text/css")
        meta(name="google-signin-client_id", content="179911329052-bt7801c9hu6gqh174qv0jl28clftchj1.apps.googleusercontent.com")

    body
        header#header
            div#logo
                img(src="/static/images/logo.svg")
            nav#nav
                ul
                    li Home
                    li Genres
                    li Stories
                    .g-signin(data-onsuccess="onSignIn")
        script(src="https://apis.google.com/js/platform.js")
        script.
            function onSuccess(googleUser) {
                console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
            }
            function onFailure(error) {
                console.log(error);
            }
            function renderButton() {
                gapi.signin2.render('my-signin2', {
                    'scope': 'profile email',
                    'width': 240,
                    'height': 50,
                    'longtitle': true,
                    'theme': 'dark',
                    'onsuccess': onSuccess,
                    'onfailure': onFailure
                });
            }

            renderButton();