@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Fira+Sans|PT+Serif:700|Lora");
#story {
  text-align: center;
  position: relative;
  width: 100%;
  left: 0;
  margin-top: 150px;
  bottom: 80px;
}
#story #text {
  text-align: left;
  display: inline-block;
  max-width: 800px;
  font: 20px "Lora", "sans-serif";
  line-height: 1.4em;
  padding: 0;
}
#story #text p {
  padding: 0;
}
#story #text p::before {
  content: "      ";
}

#bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
}
#bottom-bar #bottom-bar-inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
#bottom-bar #title {
  display: inline-block;
  font: 30px "Fira Sans", "sans-serif";
  font-weight: bold;
  vertical-align: middle;
  margin-left: 20px;
  box-sizing: border-box;
}
#bottom-bar #authors {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin-left: 15px;
  box-sizing: border-box;
}
#bottom-bar #authors div {
  display: block;
  text-align: left;
}
#bottom-bar #authors div#author {
  font: 15px "Fira Sans", "sans-serif";
}
#bottom-bar #authors div#next-author {
  font: 10px "Fira Sans", "sans-serif";
}
#bottom-bar #reaction-buttons {
  position: absolute;
  top: 0;
  right: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#bottom-bar #reaction-buttons .reaction-button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: 60% auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  transition: 0.2s all;
  margin: 0px 5px;
}
#bottom-bar #reaction-buttons .reaction-button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#bottom-bar #reaction-buttons .reaction-button.heart {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/2665.png");
}
#bottom-bar #reaction-buttons .reaction-button.laugh {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f602.png");
}
#bottom-bar #reaction-buttons .reaction-button.thumbs-up {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f44d.png");
}
#bottom-bar #reaction-buttons .reaction-button.thumbs-down {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f44e.png");
}
#bottom-bar #reaction-buttons .reaction-button.love {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f60d.png");
}

#reactions {
  width: 100px;
  height: 100%;
  position: absolute;
  bottom: 30px;
  right: 7px;
}
#reactions .icon {
  background-color: transparent;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 100%;
  background-size: cover;
}
#reactions .icon.heart {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/2665.png");
}
#reactions .icon.laugh {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f602.png");
}
#reactions .icon.thumbs-up {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f44d.png");
}
#reactions .icon.thumbs-down {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f44e.png");
}
#reactions .icon.love {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f60d.png");
}
