@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Fira+Sans|PT+Serif:700|Lora");
body, html {
  width: 100%;
}

#content {
  position: fixed;
  width: 100%;
  bottom: 60px;
}

#title {
  font: 30px "Fira Sans", "sans-serif";
  display: block;
  text-align: center;
}
#title h1 {
  font: 40px "Fira Sans", "sans-serif";
  display: inline-block;
}
#title .code {
  background: #ddd;
  display: inline-block;
  padding: 4px;
  border-radius: 2px;
  font-size: 12px;
  color: #555;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

#story {
  font: 18px "Lora", "serif";
  line-height: 1.6em;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}
#story p {
  border-left: 4px transparent solid;
  padding: 0;
  padding-left: 8px;
  width: 100%;
  max-width: 800px;
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
}
#story p#current {
  border-left-color: #ff4a4a;
}
#story p::before {
  content: "      ";
}

#bottom-bar {
  position: fixed;
  width: 100%;
  height: 35px;
  bottom: 0;
  left: 0;
}
#bottom-bar #bottom-bar-inner {
  width: 100%;
  max-width: 900px;
  position: relative;
  margin: 0 auto;
}
#bottom-bar #viewers {
  position: absolute;
  right: 20px;
  top: 0px;
}
#bottom-bar #viewers #viewer-icon {
  width: 25px;
  display: inline-block;
  vertical-align: middle;
}
#bottom-bar #viewers #viewer-number {
  font: 15px "Fira Sans", "sans-serif";
  display: inline-block;
  vertical-align: middle;
}
#bottom-bar #emojis {
  display: inline-block;
}
#bottom-bar #emojis .vote {
  display: inline-block;
  margin: 0px 10px;
}
#bottom-bar #emojis .vote img {
  width: 25px;
  display: inline-block;
  vertical-align: middle;
}
#bottom-bar #emojis .vote .emoji-num {
  display: inline-block;
  font: 15px "Fira Sans", "sans-serif";
  vertical-align: middle;
  margin-left: 5px;
}

#reactions {
  width: 100px;
  height: 100%;
  position: absolute;
  bottom: 30px;
  left: 7px;
}
#reactions .icon {
  background-color: transparent;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 100%;
  background-size: cover;
}
#reactions .icon.heart {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/2665.png");
}
#reactions .icon.laugh {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f602.png");
}
#reactions .icon.thumbs-up {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f44d.png");
}
#reactions .icon.thumbs-down {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f44e.png");
}
#reactions .icon.love {
  background-image: url("https://twemoji.maxcdn.com/2/72x72/1f60d.png");
}
